body {
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.container {
	width: 600px;
	background-color: #3d59ff;
	padding: 5px;
}

.container .float-block {
	float: left;
	height: 130px;
	width: 130px;
	margin: 10px 0 0 10px;
	background-color: red;
}

.container .block {
	background-color: green;
	height: 100%;
	padding-left: 100px;
}

